USE [BI_MIP]
GO
/****** Object:  Table [MIP2].[PRAMATA_NUMBER_DATA_DUMP]    Script Date: 1/8/2019 2:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MIP2].[PRAMATA_NUMBER_DATA_DUMP](
	[Pramata Number] [float] NULL,
	[Company Group Name] [nvarchar](255) NULL,
	[Effective Date] [datetime] NULL,
	[Region (Imported) - Region] [nvarchar](255) NULL,
	[Address - Address] [nvarchar](255) NULL,
	[Address - City] [nvarchar](255) NULL,
	[Address - State] [nvarchar](255) NULL,
	[Address - ZIP] [float] NULL,
	[Document Type] [nvarchar](255) NULL,
	[Document Title] [nvarchar](255) NULL,
	[Parent] [nvarchar](255) NULL,
	[Suite Specific - Suite Specific] [nvarchar](255) NULL,
	[Fee - Fees] [nvarchar](255) NULL,
	[Exception Document - Exception Document] [nvarchar](255) NULL,
	[Courtesy Service - Courtesy Service] [nvarchar](255) NULL,
	[Contract-Status - Status] [nvarchar](255) NULL,
	[Signature Status - Status] [nvarchar](255) NULL,
	[Signature Status - Which Party] [nvarchar](255) NULL,
	[Term, Renewal and Expiration Dates - Key Dates] [nvarchar](255) NULL,
	[Term, Renewal and Expiration Dates - Date Type] [nvarchar](255) NULL,
	[Term, Renewal and Expiration Dates - Term (Months)] [nvarchar](255) NULL,
	[Term, Renewal and Expiration Dates - Term Details and Renewals] [nvarchar](255) NULL,
	[Term, Renewal and Expiration Dates - Notice Period] [nvarchar](255) NULL,
	[Term, Renewal and Expiration Dates - Note] [nvarchar](255) NULL,
	[Contract Status - Status] [nvarchar](255) NULL,
	[Contract Status - Additional Information] [nvarchar](255) NULL,
	[Contract Status - Referenced Document] [nvarchar](255) NULL,
	[Site Contact - Name] [nvarchar](255) NULL,
	[Site Contact - Contact Number] [nvarchar](255) NULL,
	[Site Contact - Contact Email] [nvarchar](255) NULL,
	[Building ID - Building ID] [nvarchar](255) NULL,
	[Agreement Term, Renewal and Expiration Dates - Term Type] [nvarchar](255) NULL,
	[Agreement Term, Renewal and Expiration Dates - Start Date] [datetime] NULL,
	[Agreement Term, Renewal and Expiration Dates - End Date] [datetime] NULL,
	[Agreement Term, Renewal and Expiration Dates - Fixed Term (Month] [float] NULL,
	[Agreement Term, Renewal and Expiration Dates - Renewal Term (Mon] [float] NULL,
	[Agreement Term, Renewal and Expiration Dates - Number of Renewal] [float] NULL,
	[Agreement Term, Renewal and Expiration Dates - Notification Peri] [nvarchar](255) NULL,
	[Agreement Term, Renewal and Expiration Dates - Notification Date] [nvarchar](255) NULL,
	[Date of Transfer - Date of Transfer] [datetime] NULL,
	[Date of Release - Date of Release] [datetime] NULL,
	[Number of Remaining Renewals - Number of Remaining Renewals] [float] NULL,
	[Mall/Building Name - Mall/Building Name] [nvarchar](255) NULL,
	[Engagement ID (Imported) - Engagement ID] [nvarchar](255) NULL,
	[Referral Partner - Referral Partner] [nvarchar](255) NULL,
	[Parcel Number - Parcel Number] [nvarchar](255) NULL,
	[Owner Occupied - Owner Occupied] [nvarchar](255) NULL,
	[Notes - Notes] [nvarchar](255) NULL,
	[National Account - National Account] [nvarchar](255) NULL,
	[MDU - MDU] [nvarchar](255) NULL,
	[Customer Signatory - Name] [nvarchar](255) NULL,
	[Customer Signatory - Title] [nvarchar](255) NULL,
	[Pramata Contract Link] [nvarchar](255) NULL
) ON [PRIMARY]
GO
